.menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 15px;
    text-align: center;
  }
  .line {
    fill: none;
    stroke: white;
    stroke-width: 6;
    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .dropDownMenuInactive {
    margin-top: 2px;
    height: 0px;
    opacity: 0;
    padding: auto;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    min-width: 110px;
    width: 0px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s;
  }
  .dropDownMenuActive {
    margin-top: 2px;
    display: block;
    height: auto;
    opacity: 1;
    padding: auto;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    min-width: 110px;
    width: 130px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.3s;
    border-bottom-left-radius: 5px;
  }
  .linkItem {
      display: block;
      margin: auto;
      padding: 29px;
      padding-top: 15px;
      padding-bottom: 15px;
      text-decoration: none;
  }
  .linkItem:hover {
    background-color: rgba(255, 255, 0, 0.85);
    color: black;
    transition: 0.2s;
}