nav {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}
.site-nav-link {
    text-decoration: none;
    font-size: 14px;
    font-weight:100;
    margin: 10px;
    border: 1px solid white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-style:dotted;
    padding: 10px;
    max-width: 100px;
}
.site-nav-link:hover {
    background-color: rgba(255, 255, 0, 0.712);
    color: #161616;
    text-decoration: none;
    margin: 10px;
    box-shadow: 2px 2px white;
    transition: 0.3s;
}
.site-active-nav-link {
    background-color: rgba(255, 255, 0, 0.712);
    color: #161616;
    text-decoration: none;
    margin: 10px;
    box-shadow: 2px 2px white;
    transition: 0.3s;
}