.bg-image {
    background-image: url('http://localhost:3000/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.site-wrapper {
    width: 80%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(4px);
    box-shadow: 0px 0px 25px 2px #000000;
    border: 1px solid white;
    border-radius: 5px;
}
.sections-wrapper {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}
.sections-wrapper > div {
    flex: 40%;
}
.popular-article {
    border: 1px dotted white;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px;
    margin: 30px;
    width: 100%;
}
.article-header {
    margin-top: 0px;
    padding: 0px;
}
.header-container {
    display: flex;
    justify-content: space-between;
}
.site-logo {
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    margin-left: 30px;
    margin-top: 20px;
}
nav {
    margin-right: 20px;
    margin-top: 50px;
}
.site-nav-link {
    text-decoration: none;
    font-size: 20px;
    font-weight:100;
    margin: 10px;
    border: 1px solid white;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-style:dotted;
    padding: 10px;
    max-width: 100px;
}
.site-nav-link:hover {
    background-color: white;
    color: #161616;
    text-decoration: none;
    margin: 10px;
    box-shadow: 2px 2px white;
    transition: 0.3s;
}
.separation-line {
    border-top: 1px;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
    width: 100%;
    border-style: dotted;
    margin: auto;
    margin-top: 20px;
}
.site-footer > p {
    text-align: center;
}
.site-content {
    width: 90%;
    margin: auto;
    padding-top: 30px;
}
.home-heading {
    text-align: center;
}