@import url("https://use.typekit.net/rpq7ojs.css");
* {
    font-family: muli, sans-serif;
    color: aliceblue;
}
body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
