.logoLink {
    text-decoration: none;
    display: inline-block;
    margin-top: 15px;
    margin-left: 15px;
}
.siteLogo {
    font-weight: 700;
    font-style: normal;
    font-size: 80px;
    margin: auto;
}